html {
    font-family: "Trebuchet MS", sans-serif;
    min-height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1em;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #e9e9e9;
}

body, main {
    height: 100%;
    width: 100%;
    margin: 0;
}

main {
    padding-bottom: 5em;
}

h1 {
    color: #325c2a;
    margin: 1em;
}

h4 {
    font-size: 1.5em;
    color: #325c2a;
    margin-bottom: 0.5em;
}

h5 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

h2, h3 {
    color: #1b3515;
}

#filter-by {
    margin-bottom: 0;
}

.sidebar {
    margin-top: 0.5em;
    min-width: 18%;
    max-width: 23%;
    padding-left: 4em;
    padding-right: 3em;
    padding-bottom: 3em;
    margin-left: 0.5em;
    background-color: #f5f5f5;
    border-radius: 0.75em;
    height: 100%;
}

.breadcrumb {
    margin-left: 2em;
    margin-top: 0.5em;
}

.breadcrumb a {
    color: gray;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    line-height: 1.4em;
}

.add-text, .edit-text {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin-bottom: 1em;
    margin-top: 0.25em;
}

.add-text input {
    width: 13.5em;
}

.file-upload {
    display: flex;
    justify-content: space-between;
}

#upload-image {
    width: 14em;
}

.filter-option, .sort-option {
    margin: 0.25em;
}

.form-heading {
    margin-top: 2em;
}

.submit {
    text-align: right;
}

.submit input {
    background-color: #f7fdf5;
    border-style: solid;
    border-radius: 0.5em;
    border-color: #325c2a;
    padding-right: 0.75em;
    padding-left: 0.75em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-size: 1em;
    font-family:'Trebuchet MS', sans-serif;
}

input:hover {
    cursor: pointer;
}

.add-text input:hover, .short-text input:hover {
    cursor: text;
}

#filter-sort-submit {
    margin-top: 2em;
    margin-right: 2em;
}

#add-submit {
    margin-top: 2em;
}

#add-plant {
    flex-wrap: wrap;
}

#add-plant-form {
    padding-top: 0.5em;
    background-color: #eaf1e8;
    max-width: 100%;
    padding-bottom: 2em;
    border-radius: 0.75em;
    margin: 0.5em;
}

.main-add {
    display: flex;
    flex-direction: row;
    gap: 5em;
    height: 100%;
    width: 100%;
}

.add-play-type {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    min-width: 30%;
}

.play-checkboxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 0.5em;
    column-gap: 1em;
    max-height: 8em;
}

.garden-info {
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    row-gap: 0.2em;
    min-width: 20%;
}

.add-body, #add-plant {
    display: flex;
    width: 100%;
}

#add-plant-form {
    padding-left: 8em;
}

.text-fields {
    display: flex;
    flex-direction: column;
}

.short-text input {
    width: 4em;
    margin-left: 0.5em;
}

.edit-text-short input {
    width: 3em;
    margin-bottom: 1em;
}


.confirmation {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color:#9cb797;
    margin: 0.25em;
    margin-top: 0.5em;
    border-radius: 0.5em;
}

.catalog {
    display: flex;
    height: 100%;
}

.table {
    width: 100%;
    height: 100%;
}

.entry {
    padding-right: 2em;
    padding-left: 2em;
    margin-bottom: 1em;
    border-style: solid;
    border-width: thin;
    border-color: #e9e9e9;
    margin-left: 3em;
    margin-right: 3em;
}

.entry ul, .play-list ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.75em;
    padding-left: 0;
}

.entry li, .play-list li {
    list-style: none;
    display: inline;
    margin-right: 0.75em;
    background-color: #9cb797;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    border-radius: 1em;
    font-size: 0.9em;
}

.entry p {
    font-size: 1em;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

.entry-edit-buttons {
    display: flex;
    gap: 1em;
}

.entry-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry h4, .catalog-header h2 {
    font-size: 1.35em;
    margin-top: 1em;
}

#error-message {
    padding: 2em;
    background-color: #deeadc;
}

.hidden {
    display: none;
}

.feedback {
    color: #ab4653;
}

#filter-garden-submit {
    margin-top: 1em;
}

#media-grid {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 1em;
    margin-left: 2em;
}

.catalog-body {
    min-width: 66%;
}

.photo {
    max-width: 30%;
    max-height: 25%;
}

.photo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}

.photo p {
    margin-top: 0.25em;
}

.catalog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    max-width: 100%;
}

.media-catalog {
    display: flex;
    height: 100%;
    justify-content: center;
    max-width: 100%;
}

.detail-page {
    display: flex;
    margin-top: 5em;
    gap: 5em;
    justify-content: center;
}

.detail-page h2 {
    margin-top: 0;
    font-size: 2em;
}

.detail-photo {
    max-width: 50%;
}

.detail-text {
    max-width: 30%;
}

.garden-list {
    margin-bottom: 3em;
}

.seasonality {
    display: flex;
    gap: 1em;
}

.seasonality, .sun-needs-container {
    margin-bottom: 1em;
}

.sun-needs-container {
    display: flex;
    gap: 1em;
}

.edit-plant-form h3 {
    margin-top: 2em;
}

.edit-plant-form .edit-text input {
    width: 13.5em;

}

#edit-file {
    gap: 5em;
}

@media print {
    .sidebar, #add-plant-form {
        display: none;
    }
    .entry ul li {
        border-style: solid;
        border-width: thin;
        padding-left: 1em;
        padding-right: 1em;
    }
    .entry ul {
        row-gap: 0.5em;
    }
    .entry p {
        font-size: 1.15em;
    }
    .entry {
        padding-left: 1em;
        break-inside: avoid;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-bottom: 0em;
        line-height: 0.5em;
    }
    h4 {
        margin-top: 0em;
        font-size: 1.25em;
    }
    .confirmation {
        display: none;
    }
}

@media (max-width: 900px) {
    .photo {
        max-width: 45%;
    }
    .sidebar {
        padding-left: 3em;
        min-width: 20%;
    }
    .detail-page {
        flex-direction: column;
        align-items: center;
        gap: 2em;
        text-align: center;
    }
    .detail-page li {
        text-align: center;
        font-size: 1.25em;
        display: block;
    }
    .detail-page ul {
        padding-left: 0;
    }
    .detail-page h3 {
        font-size: 1.5em;
    }
    .play-list ul {
        display: inline-block;
    }
    .play-list ul li{
        display: block;
        margin-bottom: 0.5em;
    }
    .detail-photo {
        max-width: 100%;
        text-align: center;
    }
}

@media (max-width: 700px) {
    .catalog-header {
        flex-direction: column;
        margin-bottom: 1em;
    }
}

@media (max-width: 800px) {
    .media-catalog {
        flex-direction: column;
        justify-content: flex-start;
    }
    .sidebar {
        margin-right: 0.5em;
        max-width: 90%;
    }
    .filter-options {
        display: flex;
        justify-content: space-around;
    }
}
